.carousel-wrapper {
    position: flex;
    align-items: center;
    width: 100%; /* Ensure the container does not overflow */
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
  }
  .carousel-wrapper > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.arrow{
    z-index: 1;
    cursor: pointer;
}
/* .next{
    right: -30px;
}
.prev{
    left: -30px;
} */

.pagination-container {
  display: flex;
  justify-content: flex-end; /* Đặt `Pagination` sang trái */
  align-items: flex-end; /* Đặt `Pagination` xuống dưới */
  margin-right: 30px;
}